@model IEnumerable<MIS4200Team11.Models.recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Leaderboard</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.UserData.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoreValues.valueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.UserData.fullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.recognitionTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.recognitionDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CoreValues.valueName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.recognitionDate)
    </td>
    <td>

        @Html.ActionLink("Details", "Details", new { id = item.recognitionID })

    </td>
</tr>
}

</table>
